<% layout("/layouts/boilerplate") %>
<body>
    <h3>Edit this post</h3>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" 
             value="<%=listing.title%>"
             type="text" 
             class="form-control" 
             required 
            />
            <div class="invalid-feedback">Title name should be valid</div>
            <br>
        </div>

        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required
            ><%=listing.description%></textarea>
            <div class="invalid-feedback">Description should be valid</div>
            <br><br>
        </div>
        
        <div>
            <label for="image" class="form-label">Image</label> 
            <input 
            name="listing[image]" 
            class="form-control" 
            value="<%=listing.image%> "
             type="text" 
             required
            />
            <div class="invalid-feedback">Image should be valid</div>
            <br><br>
        </div>
        
        <div>
            <label for="price" class="form-label">Price</label> 
            <input 
             name="listing[price]" 
             class="form-control"
             value="<%=listing.price%>"
             type="number"
             required
            />
            <div class="invalid-feedback">Price should be valid</div>
            <br><br>
        </div>
        
        <div>
            <label for="author" class="form-label">Author</label> 
            <input 
            name="listing[author]" 
             value="<%=listing.author%> " 
             class="form-control"
             type="text"
             required
            />
            <div class="invalid-feedback">Author should be valid</div>
            <br><br>
        </div>
        
        <div>
            <label for="genre" class="form-label">Genre</label> 
            <input 
             name="listing[genre]" 
             value="<%=listing.genre%> " 
             class="form-control"
             type="text"
             required
            />
            <div class="invalid-feedback">genre should be valid</div>
            <br><br>
        </div>

        <div>
            <label for="publicationDate" class="form-label">Publication Date</label> 
            <input 
             name="listing[publicationDate]" 
             class="form-control"
             value="<%=listing.publicationDate%>"
             type="date"
             required
            />
            <div class="invalid-feedback">Publication Date should be valid</div>
            <br><br>
        </div>

        <div>
            <label for="pages" class="form-label">Pages</label> 
            <input 
             name="listing[pages]" 
             class="form-control"
             value="<%=listing.pages%>"
             type="number"
             required
            />
            <div class="invalid-feedback">Pages should be valid</div>
            <br><br>
        </div>

        <div>
            <label for="language" class="form-label">Language</label> 
            <input 
             name="listing[language]" 
             value="<%=listing.language%> " 
             class="form-control"
             type="text"
             required
            />
            <div class="invalid-feedback">Language should be valid</div>
            <br><br>
        </div>
        
        <button class="btn btn-dark edit-btn">Edit</button>
    </form>
</div>
</div>
</body>
